<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>


{% include "layouts/contact.njk" %}

<div>LOL</div>

{% include "layouts/contact.njk" %}




	</body>

</html>
