<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
			<em>
				<a href="{{ '/' | url }}">{{ metadata.title }}</a>
			</em>
			{% include "components/nav.njk" %}
		</header>

		<main>
			{{ layoutContent | safe }}
			
			
	<!--		
<div class="pink">
{% include "components/contact.njk" %}
</div>

<div class="white">
{% include "components/about.njk" %}
</div>

<div class="pink">
{% include "components/contact.njk" %}
</div>

<div class="white">
{% include "components/about.njk" %}
</div>
-->
			
			
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
