---
layout: layouts/base.njk
section: home
---


{{ layoutContent | safe }}

<div class="pink">
{% include "components/contact.njk" %}
</div>

<div class="white">
{% include "components/footer.njk" %}
</div>

<div class="pink">
{% include "components/about.njk" %}
</div>

<div class="white">
{% include "components/footer.njk" %}
</div>

