---
layout: layouts/base.njk
section: home
---

<!--
{{ layoutContent | safe }}

<div class="pink">
{% include "components/footer.njk" %}
</div>

<div class="white">
{% include "components/footer.njk" %}
</div>

<div class="pink">
{% include "components/footer.njk" %}
</div>

<div class="white">
{% include "components/footer.njk" %}
</div>
-->
